<!-- header.ejs content for student management system -->
<header class="container-fluid bg-dark">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div>
      <a href="#" class="brand-logo">
        <img src="/images/logo.webp" alt="logo" width="100px" height="100px" />
        <span>SIMS</span></a
      >
    </div>

    <div class="container">
      <a class="navbar-brand text-white h1 text-uppercase" href="/sims/all"
        >Student Management System</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="true"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse show p-5 d-flex justify-content-between"
        id="navbarNav"
      >
        <ul class="navbar-nav justify-content-between">
          <li class="nav-item mr-5">
            <a class="nav-link text-white h4 text-uppercase" href="/sims/all"
              >Students</a
            >
          </li>
          <li class="nav-item ml-5">
            <a class="nav-link text-success h4 text-uppercase" href="/sims/form"
              >Add Student</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
